body{
  background: linear-gradient(45deg, #ee7752, #23a6d5, #23d5ab, #fcba03, #A388D6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 100%;
}

.bottom{
  height: 500px;
  opacity: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.top-bar{
  background-color: rgba(230, 149, 34, 0.9);
  margin-bottom: 10px;
}

.top-bar-section{
  background-color: transparent;
}

.signs{
  background-color: #fcba03;
  border-radius: 10px;
}

ul.right{
  background-color: #fcba03;
  border-radius: 10px;
  border: solid;
  border-color: rgba(255,255,255,0.8);
  padding: 5px;
  margin: 5px;
}

.sign{
  font-family: 'Comfortaa', cursive;
  color: #885AED;
  background-color: transparent;
}

.title{
  font-family: 'Comfortaa', cursive;
  color: #885AED;
  font-size: 70px;
  text-shadow: 2px 2px white;
}

.field, .actions{
  width: 30%;
  margin: auto;
}

.field-input{
  border-radius: 10px;
}

.field-submit{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .9);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
}

.field-submit:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: #fcba03;
  color: black;
}

.sign-up-in{
  width: 200px;
  margin:auto;
}

.devise-shared{
  width: 200px;
  margin:auto;
}

@media only screen and (max-width: 600px){
  .title{
    font-size: 50px;
  }
}

@media only screen and (max-width: 450px){
  .title{
    font-size: 40px;
  }

}
