body{
  background: linear-gradient(45deg, #ee7752, #23a6d5, #23d5ab, #fcba03, #A388D6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bottom{
  height: 100vh;
  opacity: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.top-bar{
  background-color: rgba(230, 149, 34, 0.9);
}

.top-bar-section{
  background-color: transparent;
}

.signs{
  background-color: #fcba03;
  border-radius: 10px;
}

ul.right{
  background-color: #fcba03;
  border-radius: 10px;
  border: solid;
  border-color: rgba(255,255,255,0.8);
  padding: 5px;
  margin: 5px;
}

.sign{
  font-family: 'Comfortaa', cursive;
  color: #885AED;
  background-color: transparent;
}

.title{
  font-family: 'Comfortaa', cursive;
  color: #885AED
}
