.comment-tile-wrapper{
  border: solid white;
  border-radius: 15px;
  width: 40%;
  margin: auto;
  padding: 10px;
  transition: box-shadow .3s;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}

.comment-tile-wrapper:hover {
  box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.comment-box{
  height: 115px;
  margin: auto;
  margin-bottom: 15px;
  border:  2px solid black;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25);
  opacity: .8;
  resize: none;
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
}

.comment-box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 2px solid black;
}

.comments-form{
  width: 40%;
  height: 125%;
  margin: auto;
  margin-bottom: 500px;
}

.comment-form-wrapper{
  height: 200px;
  margin-bottom: 80px;
}

.comment-submit{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .9);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: black;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
}

.comment-submit:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: #fcba03;
  color: black;
}

.comment-text{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
}

.comment-user{
  font-weight: bold;
  color: #A388D6;
  font-size: 30px;
}

.comment-share{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 20px;
}


@media only screen and (max-width: 450px) {
  .comments-form{
    width: 90%;
    height: 250px;
  }

  .comment-tile-wrapper{
    width: 85%;
    height: 100%;
  }

  .comment-user{
    font-size: 20px;
  }
}

@media only screen and (max-width: 800px) {
  .comments-form{
    width: 80%;
  }

  .comment-tile-wrapper{
    width: 80%;
  }
}
