.welcome-text{
  text-align: center;
}

li{
  list-style-type: none;
}

.concert-name .date .venue .welcome-text{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
}


.tile-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.concert-tile{
  margin: 30px;
  float: left;
  border: 10px solid black;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px ;
  cursor: default;
  background: black;
  border-radius: 50px;
}

.concert-tile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.concert-tile .tile-info-wrapper{
  width: 375px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 10px;
  margin: auto;
  justify-content: center;
  opacity: .5;
  background-color: rgba(58, 1, 132, 0.44);
  transition: all 0.4s ease-in-out;
}


.tile-img{
  transition: all 0.2s linear;
  width: 350px;
  height: 250px;
  display: block;
  position: relative
}

@media only screen and (max-width: 325px) {
  .tile-img{
    width: 200px;
    height: 175px;
  }

  .tile-info-wrapper{
    height: 100px;
    width: 200px;
    font-size: 11px;
  }

  .concert-tile .button{
    width: 75px;
    height: 30px;
    font-size: 10px;
  }
}

.concert-tile h4{
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 25px;
  padding: 10px;
  margin: 20px 0 0 0
}

.concert-tile h6{
  font-size: 18px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.concert-tile h4{
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.concert-tile h6{
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}

.concert-tile .button{
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
  border-radius: 5px;
  background-color: #fcba03;
  color: black;
}

.concert-tile:hover img{
  transform: scale(1.1);
}

.concert-tile:hover .tile-info-wrapper{
  opacity: 1;
  margin:auto;
  width: 100%;
}

.concert-tile:hover h4,
.concert-tile:hover h6{
  opacity: 1;
  transform: translateY(0px);
  font-size: 1em;
}

.concert-tile:hover input{
  opacity: .7;
  transform: translateY(0px);
}

.concert-tile h6{
 transition-delay: 0.1s;
}
