.search-bar-wrapper{
  width: 33%;
  margin:auto;
}

.search-submit{
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .9);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  color: white;
  background-color: transparent;
}

.search-submit:hover{
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: #fcba03;
  color: black;
}

.search-bar{
  border-radius: 15px;
}

.search-label{
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 18px;
}
